.counter {
    display: flex;
}

.btn-counter {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.btn-counter button {
    background-color: white;
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.35);
}

.btn-counter p {
    font-family: var(--fuente);
    font-size: 1.3rem;
    font-weight: bolder;
}

.btn-counter button:hover {
    cursor: pointer;
}

.btn-counter button:active {
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);;
}

.btn-add {
    width: 100%;
    margin: 1.5rem auto 1rem;
    padding: .7rem;
    border: none;
    border-radius: 5px;
    background-color:var(--verde);
    color: var(--blanco);
    font-family: var(--fuente);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35)
}

.btn-add:hover {
    padding: auto 0;
    background-color: var(--high);
    color: var(--low);
    cursor: pointer;
    transition: 0.1s;
}

.btn-add:active {
    color: black;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
}