.contacto {
    background-color: var(--high);
    position: relative;
    padding: 8rem;
    justify-content: center;
}

.contacto h2 {
    text-align: center;
    font-size: 2rem;
}

.contacto p {
    font-size: 1.6rem;
    text-align: center;
    color: var(--low);
}